<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="url" content="{{ site.url }}">
    
    <!-- Document Title -->
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    
    <!-- Base URL to use for all relative URLs contained within the document -->
    <base href="{{ site.url }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="{{ "_assets/css/main.min.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">

    <!-- For IE 10 and below -->
    <!-- No link, just place a file called favicon.ico in the root directory -->

    <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
    <!-- Use http://realfavicongenerator.net/ -->
    <!-- Place files in root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- FB meta tags -->
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:image" content="{{ site.url }}/image.jpg">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="en_US">
    <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters#markup -->
    <!-- Open Graph: http://ogp.me/ -->
    <!-- Validate: https://developers.facebook.com/tools/debug/ -->

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.twitter_username }}">
    <meta name="twitter:creator" content="{{ site.twitter_username }}">
    <meta name="twitter:url" content="{{ site.url }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ site.url }}/image.jpg">
    <!-- More info: https://dev.twitter.com/cards/getting-started -->
    <!-- Validate: https://dev.twitter.com/docs/cards/validation/validator -->

    <!--[if lt IE 9]>
      <script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script>
    <![endif]-->
  </head>