// ===========================================================================
// ==== GLOBAL ELEMENTS
// ===========================================================================
body {
  background: $bg-clr;
  counter-reset: number;
  font-family: $font-stack;
}

main {
  padding: 2em 0;

  p {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    border-bottom: 1px solid $link-clr;
    color: $link-clr;
    padding-bottom: 2px;
    text-decoration: none;

    &:hover,
    &:active {
      color: $link-hover-clr;
    }
  }

  ul {

    li {
      &:before {
        color: $highlight-clr;
        content: '\2219';
        margin-right: .5em;
      }
    }
  }

  ol {

    li {
      &:before {
        color: $highlight-clr;
        content: counter(number);
        counter-increment: number;
        margin-right: .5em;
      }
    }
  }

  li {
    margin-bottom: .5em;
    padding-left: 1.5em;
    text-indent: -1.5em;
  }
}

h2 {
  margin-bottom: .5em;
}

h3,
h4,
h5,
h6 {
  margin-bottom: .25em;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

blockquote {
  border-left: 4px solid $highlight-clr;
  font-size: 1.25em;
  font-style: italic;
  padding: 0 1em;
}

img {
  display: block;
  max-width: 100%;
}

small {
  font-size: .85em;
  margin-bottom: 1em;
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

table {
  margin-bottom: 2em;
}

tr {
  &:nth-child(even) {
    background: $grey;
  }
}

th {
  border-bottom: 1px solid $highlight-clr;
  padding: .5em;
  padding-bottom: 0;
  text-align: left;
}

td {
  padding: .5em;
}

.container {
  @include container;
  padding: 0 .5em;

  @include mq($L) {
    padding: 0;
  }
}
