// ===========================================================================
// ==== VARIABLES
// ===========================================================================

/* RESPONSIVE MEDIA QUERIES
------------------------------------------------------------------------------ */
$brk-width-small: 30em;
$brk-width-med: 45em;
$brk-width-large: 60em;
$brk-width-xlarge: 75em;

@mixin brk-small {
  @media screen and (min-width: $brk-width-small) {
    @content;
  }
}

@mixin brk-med {
  @media screen and (min-width: $brk-width-med) {
    @content;
  }
}

@mixin brk-large {
  @media screen and (min-width: $brk-width-large) {
    @content;
  }
}

@mixin brk-xlarge {
  @media screen and (min-width: $brk-width-xlarge) {
    @content;
  }
}

/* FONTS
------------------------------------------------------------------------------ */
$font-stack: Helvetica, Arial, sans-serif;

/* COLORS
------------------------------------------------------------------------------ */
$white: #fff;
$black: #222;
$grey-lightest: #f0f0f0;
$grey-lighter: #959492;
$grey-light: #eee;
$grey: #999;
$grey-dark: #666;
$text: #222;

/* COLOR CONFIGS
------------------------------------------------------------------------------ */
$bg-clr: $grey-light;
$text-clr: $text;
$link-clr: red;
$highlight-clr: red;