/* ===========================================================================
==== GLOBAL ELEMENTS
============================================================================== */
body {
  background: $bg-clr;
  color: $text-clr;
  font-family: $font-stack;
  line-height: 1.4
}

main {
  padding: 1em 0;

  p {
    margin-bottom: 1.5em;

    &:last-child {
       margin-bottom: 0;
    }
  }

  a {
    color: $link-clr;
    text-decoration: none;
    border-bottom: 1px solid $link-clr;

    &:hover,
    &:active {

    }
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  width: 100%;
  padding: 0 .5em;

  @include brk-med {
    padding: 0;
    width: 600px;
  }
}